<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>15.0.1</Version>
<Cluster>
<Name>Settings in</Name>
<NumElts>6</NumElts>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>电压读取设置</Name>
<NumElts>7</NumElts>
<DAQChannel>
<Name>DAQmx Channel</Name>
<Val>Dev1/ai0:5</Val>
</DAQChannel>
<DBL>
<Name>Max Input</Name>
<Val>10.00000000000000</Val>
</DBL>
<DBL>
<Name>Min Input</Name>
<Val>-10.00000000000000</Val>
</DBL>
<DBL>
<Name>Sample Rate</Name>
<Val>10000.00000000000000</Val>
</DBL>
<I32>
<Name>Sample Number</Name>
<Val>10</Val>
</I32>
<Refnum>
<Name>DAQmx Task</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
<DAQChannel>
<Name>device in</Name>
<Val>Dev1</Val>
</DAQChannel>
</Cluster>
<Cluster>
<Name>角度传感器设置</Name>
<NumElts>8</NumElts>
<DAQChannel>
<Name>counter</Name>
<Val>Dev1/ctr0</Val>
</DAQChannel>
<I32>
<Name>units</Name>
<Val>10146</Val>
</I32>
<I32>
<Name>分辨率</Name>
<Val>2400</Val>
</I32>
<DBL>
<Name>初始角度</Name>
<Val>0.00000000000000</Val>
</DBL>
<I32>
<Name>DecodingType</Name>
<Val>10092</Val>
</I32>
<DAQChannel>
<Name>A相端口</Name>
<Val>/Dev1/PFI8</Val>
</DAQChannel>
<DAQChannel>
<Name>B相端口</Name>
<Val>/Dev1/PFI8</Val>
</DAQChannel>
<Refnum>
<Name>task in</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
</Cluster>
</Cluster>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>3</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>C:\Users\BLACK WIDOW\Documents\LabVIEW Data\Logged Data.tdms</Val>
</Path>
<Array>
<Name>电压传感器转换率</Name>
<Dimsize>6</Dimsize>
<DBL>
<Name>数值</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>1.00000000000000</Val>
</DBL>
</Array>
<Array>
<Name>电压传感器本底</Name>
<Dimsize>6</Dimsize>
<DBL>
<Name>数值</Name>
<Val>-4.39907759872722</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>-4.34644726185364</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>-4.32771338974124</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>-4.30550551828764</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>-4.24371973842382</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>-4.18222622776758</Val>
</DBL>
</Array>
</Cluster>
<Cluster>
<Name>电机设置</Name>
<NumElts>5</NumElts>
<DAQChannel>
<Name>counter</Name>
<Val>Dev1/ctr0</Val>
</DAQChannel>
<DAQChannel>
<Name>方向端口</Name>
<Val></Val>
</DAQChannel>
<Boolean>
<Name>当前方向</Name>
<Val>0</Val>
</Boolean>
<DBL>
<Name>频率</Name>
<Val>0.00000000000000</Val>
</DBL>
<Refnum>
<Name>DAQmx Task</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
</Cluster>
<Cluster>
<Name>啮合测试电机转动逻辑</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>反转判断条件1</Name>
<NumElts>4</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>1</Val>
</I32>
<EW>
<Name>条件</Name>
<Choice>小于</Choice>
<Choice>大于</Choice>
<Choice>等于</Choice>
<Val>1</Val>
</EW>
<DBL>
<Name>值</Name>
<Val>7.00000000000000</Val>
</DBL>
<I32>
<Name>条件判断时间间隔</Name>
<Val>1000</Val>
</I32>
</Cluster>
<Cluster>
<Name>停止判断条件1</Name>
<NumElts>5</NumElts>
<I32>
<Name>角度传感器序号</Name>
<Val>7</Val>
</I32>
<EW>
<Name>正转/反转</Name>
<Choice>正转</Choice>
<Choice>反转</Choice>
<Val>1</Val>
</EW>
<I32>
<Name>反转次数</Name>
<Val>2</Val>
</I32>
<DBL>
<Name>停止角度</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>停止角度误差范围</Name>
<Val>0.10000000000000</Val>
</DBL>
</Cluster>
</Cluster>
<Cluster>
<Name>功能测试电机转动逻辑</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>反转判断条件1</Name>
<NumElts>4</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>0</Val>
</I32>
<EW>
<Name>条件</Name>
<Choice>小于</Choice>
<Choice>大于</Choice>
<Choice>等于</Choice>
<Val>0</Val>
</EW>
<DBL>
<Name>值</Name>
<Val>0.00000000000000</Val>
</DBL>
<I32>
<Name>条件判断时间间隔</Name>
<Val>0</Val>
</I32>
</Cluster>
<Cluster>
<Name>停止判断条件1</Name>
<NumElts>5</NumElts>
<I32>
<Name>角度传感器序号</Name>
<Val>0</Val>
</I32>
<EW>
<Name>正转/反转</Name>
<Choice>正转</Choice>
<Choice>反转</Choice>
<Val>0</Val>
</EW>
<I32>
<Name>反转次数</Name>
<Val>0</Val>
</I32>
<DBL>
<Name>停止角度</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>停止角度误差范围</Name>
<Val>0.00000000000000</Val>
</DBL>
</Cluster>
</Cluster>
<Cluster>
<Name>力提特性电机转动逻辑</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>反转判断条件1</Name>
<NumElts>4</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>0</Val>
</I32>
<EW>
<Name>条件</Name>
<Choice>小于</Choice>
<Choice>大于</Choice>
<Choice>等于</Choice>
<Val>0</Val>
</EW>
<DBL>
<Name>值</Name>
<Val>0.00000000000000</Val>
</DBL>
<I32>
<Name>条件判断时间间隔</Name>
<Val>0</Val>
</I32>
</Cluster>
<Cluster>
<Name>停止判断条件1</Name>
<NumElts>5</NumElts>
<I32>
<Name>角度传感器序号</Name>
<Val>0</Val>
</I32>
<EW>
<Name>正转/反转</Name>
<Choice>正转</Choice>
<Choice>反转</Choice>
<Val>0</Val>
</EW>
<I32>
<Name>反转次数</Name>
<Val>0</Val>
</I32>
<DBL>
<Name>停止角度</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>停止角度误差范围</Name>
<Val>0.00000000000000</Val>
</DBL>
</Cluster>
</Cluster>
</Cluster>
</LVData>