<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>15.0.1</Version>
<Cluster>
<Name>Settings in</Name>
<NumElts>4</NumElts>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>电压读取设置</Name>
<NumElts>7</NumElts>
<DAQChannel>
<Name>DAQmx Channel</Name>
<Val>Dev1/ai0:5</Val>
</DAQChannel>
<DBL>
<Name>Max Input</Name>
<Val>10.00000000000000</Val>
</DBL>
<DBL>
<Name>Min Input</Name>
<Val>-10.00000000000000</Val>
</DBL>
<DBL>
<Name>Sample Rate</Name>
<Val>10000.00000000000000</Val>
</DBL>
<I32>
<Name>Sample Number</Name>
<Val>200</Val>
</I32>
<Refnum>
<Name>DAQmx Task</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
<DAQChannel>
<Name>device in</Name>
<Val>Dev1</Val>
</DAQChannel>
</Cluster>
<Cluster>
<Name>角度传感器设置</Name>
<NumElts>8</NumElts>
<DAQChannel>
<Name>counter</Name>
<Val>Dev1/ctr0</Val>
</DAQChannel>
<I32>
<Name>units</Name>
<Val>10146</Val>
</I32>
<I32>
<Name>分辨率</Name>
<Val>2500</Val>
</I32>
<DBL>
<Name>初始角度</Name>
<Val>0.00000000000000</Val>
</DBL>
<I32>
<Name>DecodingType</Name>
<Val>10092</Val>
</I32>
<DAQChannel>
<Name>A相端口</Name>
<Val>/Dev1/PFI8</Val>
</DAQChannel>
<DAQChannel>
<Name>B相端口</Name>
<Val>/Dev1/PFI10</Val>
</DAQChannel>
<Refnum>
<Name>task in</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
</Cluster>
</Cluster>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>4</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>D:\quanzidongtiaofatai20191119\quanzidongtiaofatai\data\2019_11_19_21_20_20对中.txt</Val>
</Path>
<Array>
<Name>电压传感器转换率</Name>
<Dimsize>6</Dimsize>
<DBL>
<Name>数值</Name>
<Val>4.00000000000000</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>5.00000000000000</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>300.00000000000000</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>300.00000000000000</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>1.00000000000000</Val>
</DBL>
</Array>
<Array>
<Name>电压传感器本底</Name>
<Dimsize>6</Dimsize>
<DBL>
<Name>数值</Name>
<Val>-0.26570000000000</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>5.68027000000000E-3</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>-0.17770700000000</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>-0.18008000000000</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>-0.22925900000000</Val>
</DBL>
<DBL>
<Name>数值</Name>
<Val>0.00000000000000</Val>
</DBL>
</Array>
<Boolean>
<Name>测试模式是否需要保存数据？</Name>
<Val>1</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>Action Configuration</Name>
<NumElts>4</NumElts>
<Cluster>
<Name>PLC设置</Name>
<NumElts>2</NumElts>
<I32>
<Name>ActLogicalStationNumber</Name>
<Val>1</Val>
</I32>
<Refnum>
<Name>ActUtlType</Name>
<RefKind>ActiveX</RefKind>
<ActiveXType>
<GUID>{F4A6601A-130D-4FEE-B4CD-7FACAE1011C6}</GUID>
<Name>ActUtlTypeLib.IActUtlType</Name>
</ActiveXType>
<Val>0x00000000</Val>
</Refnum>
</Cluster>
<Cluster>
<Name>动作设置</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>自动跳法测试动作</Name>
<NumElts>16</NumElts>
<Cluster>
<Name>夹紧阀总</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>50</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>夹紧/松阀芯</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>91</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>方向机供油</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>66</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>扭杆紧/松</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>63</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>电机使能</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>78</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>内泄漏开</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>68</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>内泄漏停</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>69</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>数控钻孔启动</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>90</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>托起缸上</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>72</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>托起缸下</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>73</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>内泄漏放油</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>84</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>读取开始按钮</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>0</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>21</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>读取压销启动</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>0</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>0</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>读取压销完成</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>0</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>16</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>放松阀总</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>53</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>卡盘松紧</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>255</Val>
</I32>
<I32>
<Name>size</Name>
<Val>1</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
</Cluster>
<Cluster>
<Name>其他动作</Name>
<NumElts>5</NumElts>
<Cluster>
<Name>其他指令1</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>0</Val>
</I32>
<I32>
<Name>size</Name>
<Val>0</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>其他指令2</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>0</Val>
</I32>
<I32>
<Name>size</Name>
<Val>0</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>其他指令3</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>0</Val>
</I32>
<I32>
<Name>size</Name>
<Val>0</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>其他指令4</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>0</Val>
</I32>
<I32>
<Name>size</Name>
<Val>0</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
<Cluster>
<Name>其他指令5</Name>
<NumElts>4</NumElts>
<U32>
<Name>变量类型</Name>
<Val>2</Val>
</U32>
<I32>
<Name>PLC地址</Name>
<Val>0</Val>
</I32>
<I32>
<Name>size</Name>
<Val>0</Val>
</I32>
<I16>
<Name>写入数据(写入时有效)</Name>
<Val>0</Val>
</I16>
</Cluster>
</Cluster>
</Cluster>
<Cluster>
<Name>电机设置</Name>
<NumElts>5</NumElts>
<DAQChannel>
<Name>counter</Name>
<Val>Dev1/ctr1</Val>
</DAQChannel>
<DAQChannel>
<Name>方向端口</Name>
<Val>Dev1/port0/line0</Val>
</DAQChannel>
<Boolean>
<Name>当前方向</Name>
<Val>0</Val>
</Boolean>
<DBL>
<Name>频率</Name>
<Val>1500.00000000000000</Val>
</DBL>
<Refnum>
<Name>DAQmx Task</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
</Cluster>
<Cluster>
<Name>所有测试电机转动逻辑</Name>
<NumElts>7</NumElts>
<Cluster>
<Name>啮合测试电机转动逻辑</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>反转判断条件1</Name>
<NumElts>4</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>1</Val>
</I32>
<EW>
<Name>条件</Name>
<Choice>小于</Choice>
<Choice>大于</Choice>
<Choice>等于</Choice>
<Val>0</Val>
</EW>
<DBL>
<Name>值</Name>
<Val>7.00000000000000</Val>
</DBL>
<I32>
<Name>条件判断时间间隔</Name>
<Val>1000</Val>
</I32>
</Cluster>
<Cluster>
<Name>停止判断条件1</Name>
<NumElts>5</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>6</Val>
</I32>
<EW>
<Name>正转/反转</Name>
<Choice>正转</Choice>
<Choice>反转</Choice>
<Val>1</Val>
</EW>
<I32>
<Name>反转次数</Name>
<Val>2</Val>
</I32>
<DBL>
<Name>停止角度</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>停止误差范围</Name>
<Val>0.10000000000000</Val>
</DBL>
</Cluster>
</Cluster>
<Cluster>
<Name>退回测试电机转动逻辑</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>反转判断条件1</Name>
<NumElts>4</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>1</Val>
</I32>
<EW>
<Name>条件</Name>
<Choice>小于</Choice>
<Choice>大于</Choice>
<Choice>等于</Choice>
<Val>0</Val>
</EW>
<DBL>
<Name>值</Name>
<Val>7.00000000000000</Val>
</DBL>
<I32>
<Name>条件判断时间间隔</Name>
<Val>1000</Val>
</I32>
</Cluster>
<Cluster>
<Name>停止判断条件1</Name>
<NumElts>5</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>6</Val>
</I32>
<EW>
<Name>正转/反转</Name>
<Choice>正转</Choice>
<Choice>反转</Choice>
<Val>1</Val>
</EW>
<I32>
<Name>反转次数</Name>
<Val>2</Val>
</I32>
<DBL>
<Name>停止角度</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>停止误差范围</Name>
<Val>0.10000000000000</Val>
</DBL>
</Cluster>
</Cluster>
<Cluster>
<Name>功能测试电机转动逻辑</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>反转判断条件1</Name>
<NumElts>4</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>1</Val>
</I32>
<EW>
<Name>条件</Name>
<Choice>小于</Choice>
<Choice>大于</Choice>
<Choice>等于</Choice>
<Val>0</Val>
</EW>
<DBL>
<Name>值</Name>
<Val>7.00000000000000</Val>
</DBL>
<I32>
<Name>条件判断时间间隔</Name>
<Val>1000</Val>
</I32>
</Cluster>
<Cluster>
<Name>停止判断条件1</Name>
<NumElts>5</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>6</Val>
</I32>
<EW>
<Name>正转/反转</Name>
<Choice>正转</Choice>
<Choice>反转</Choice>
<Val>1</Val>
</EW>
<I32>
<Name>反转次数</Name>
<Val>2</Val>
</I32>
<DBL>
<Name>停止角度</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>停止误差范围</Name>
<Val>0.10000000000000</Val>
</DBL>
</Cluster>
</Cluster>
<Cluster>
<Name>力特性测试电机转动逻辑</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>反转判断条件1</Name>
<NumElts>4</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>1</Val>
</I32>
<EW>
<Name>条件</Name>
<Choice>小于</Choice>
<Choice>大于</Choice>
<Choice>等于</Choice>
<Val>1</Val>
</EW>
<DBL>
<Name>值</Name>
<Val>7.00000000000000</Val>
</DBL>
<I32>
<Name>条件判断时间间隔</Name>
<Val>3000</Val>
</I32>
</Cluster>
<Cluster>
<Name>停止判断条件1</Name>
<NumElts>5</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>6</Val>
</I32>
<EW>
<Name>正转/反转</Name>
<Choice>正转</Choice>
<Choice>反转</Choice>
<Val>0</Val>
</EW>
<I32>
<Name>反转次数</Name>
<Val>2</Val>
</I32>
<DBL>
<Name>停止角度</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>停止误差范围</Name>
<Val>0.10000000000000</Val>
</DBL>
</Cluster>
</Cluster>
<Cluster>
<Name>自动调阀测试分中电机转动逻辑</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>反转判断条件1</Name>
<NumElts>4</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>0</Val>
</I32>
<EW>
<Name>条件</Name>
<Choice>小于</Choice>
<Choice>大于</Choice>
<Choice>等于</Choice>
<Val>1</Val>
</EW>
<DBL>
<Name>值</Name>
<Val>5.00000000000000</Val>
</DBL>
<I32>
<Name>条件判断时间间隔</Name>
<Val>1000</Val>
</I32>
</Cluster>
<Cluster>
<Name>停止判断条件1</Name>
<NumElts>5</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>6</Val>
</I32>
<EW>
<Name>正转/反转</Name>
<Choice>正转</Choice>
<Choice>反转</Choice>
<Val>0</Val>
</EW>
<I32>
<Name>反转次数</Name>
<Val>2</Val>
</I32>
<DBL>
<Name>停止角度</Name>
<Val>0.18000000000000</Val>
</DBL>
<DBL>
<Name>停止误差范围</Name>
<Val>0.10000000000000</Val>
</DBL>
</Cluster>
</Cluster>
<Cluster>
<Name>自动调阀测试对中电机转动逻辑</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>反转判断条件1</Name>
<NumElts>4</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>0</Val>
</I32>
<EW>
<Name>条件</Name>
<Choice>小于</Choice>
<Choice>大于</Choice>
<Choice>等于</Choice>
<Val>1</Val>
</EW>
<DBL>
<Name>值</Name>
<Val>9.00000000000000</Val>
</DBL>
<I32>
<Name>条件判断时间间隔</Name>
<Val>1000</Val>
</I32>
</Cluster>
<Cluster>
<Name>停止判断条件1</Name>
<NumElts>5</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>6</Val>
</I32>
<EW>
<Name>正转/反转</Name>
<Choice>正转</Choice>
<Choice>反转</Choice>
<Val>0</Val>
</EW>
<I32>
<Name>反转次数</Name>
<Val>2</Val>
</I32>
<DBL>
<Name>停止角度</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>停止误差范围</Name>
<Val>0.10000000000000</Val>
</DBL>
</Cluster>
</Cluster>
<Cluster>
<Name>内泄漏电机转动逻辑</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>反转判断条件1</Name>
<NumElts>4</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>0</Val>
</I32>
<EW>
<Name>条件</Name>
<Choice>小于</Choice>
<Choice>大于</Choice>
<Choice>等于</Choice>
<Val>1</Val>
</EW>
<DBL>
<Name>值</Name>
<Val>2.00000000000000</Val>
</DBL>
<I32>
<Name>条件判断时间间隔</Name>
<Val>3000</Val>
</I32>
</Cluster>
<Cluster>
<Name>停止判断条件1</Name>
<NumElts>5</NumElts>
<I32>
<Name>传感器序号</Name>
<Val>6</Val>
</I32>
<EW>
<Name>正转/反转</Name>
<Choice>正转</Choice>
<Choice>反转</Choice>
<Val>0</Val>
</EW>
<I32>
<Name>反转次数</Name>
<Val>2</Val>
</I32>
<DBL>
<Name>停止角度</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>停止误差范围</Name>
<Val>0.10000000000000</Val>
</DBL>
</Cluster>
</Cluster>
</Cluster>
</Cluster>
<Cluster>
<Name>所有测试项目任务</Name>
<NumElts>1</NumElts>
<Array>
<Name>全自动调阀任务列表</Name>
<Dimsize>5</Dimsize>
<Cluster>
<Name>Task Settings</Name>
<NumElts>2</NumElts>
<String>
<Name>任务指令</Name>
<Val>等待开始按钮</Val>
</String>
<DBL>
<Name>等待时间</Name>
<Val>1.00000000000000</Val>
</DBL>
</Cluster>
<Cluster>
<Name>Task Settings</Name>
<NumElts>2</NumElts>
<String>
<Name>任务指令</Name>
<Val>夹紧/松阀总</Val>
</String>
<DBL>
<Name>等待时间</Name>
<Val>10.00000000000000</Val>
</DBL>
</Cluster>
<Cluster>
<Name>Task Settings</Name>
<NumElts>2</NumElts>
<String>
<Name>任务指令</Name>
<Val>夹紧/松阀芯</Val>
</String>
<DBL>
<Name>等待时间</Name>
<Val>5.00000000000000</Val>
</DBL>
</Cluster>
<Cluster>
<Name>Task Settings</Name>
<NumElts>2</NumElts>
<String>
<Name>任务指令</Name>
<Val>电机使能</Val>
</String>
<DBL>
<Name>等待时间</Name>
<Val>2.00000000000000</Val>
</DBL>
</Cluster>
<Cluster>
<Name>Task Settings</Name>
<NumElts>2</NumElts>
<String>
<Name>任务指令</Name>
<Val>内泄漏开始</Val>
</String>
<DBL>
<Name>等待时间</Name>
<Val>5.00000000000000</Val>
</DBL>
</Cluster>
</Array>
</Cluster>
</Cluster>
</LVData>